{% extends "base.html" %} {% load static %} {% block content %}

<main class="page pt-5">
    <div class="height-after-nav w-100 first d-flex justify-content-center align-items-center pb-5">
        <p class="competitionTitle text-uppercase text-center">
            <img src="{{ image0 }}" style="margin-bottom:5vmax;justify-content: center;" />
            <br> {{ header_title|linebreaksbr }}
        </p>
    </div>
    </div>
    <section class="clean-block features" id="overall">
        <div class="container">
            <div class="col d-flex flex-column justify-content-center align-items-center" id="description_container">
                <p class="lead d-xl-flex justify-content-xl-center align-items-xl-center" id="description_text">
                    {{ description }}</p>
            </div>
        </div>
        <!-- {% if title == "Paper Presentation and Focus Group Discussion" %}
            {% if register_url == "" %}
            <p class="subtitleCompetition text-uppercase" style="font-size: 3vmax;margin-bottom: 3vmax;">
                Registration Will Be Announced
            </p>
            {% else %}
            <p class="subtitleCompetition text-uppercase" style="font-size: 20px;margin-top: 2vmax;">
                To attend the presentation as audience:
            </p>
            <button class="montseratorwhite" id="clickHereButton1" onclick="window.location.href=' {{ register_url }} '" style="margin-top:2vmax;">
                REGISTER NOW!
            </button>
            {% endif %}
        {% elif title == "International Summit" %}
            {% if register_url == "" %}
            <p class="subtitleCompetition text-uppercase" style="font-size: 3vmax;margin-bottom: 3vmax;">
                Registration Will Be Announced
            </p>
            {% else %}
            <button class="montseratorwhite" id="clickHereButton1" onclick="window.location.href=' {{ register_url }} '" style="margin-top:2vmax;">
                REGISTER NOW!
            </button> 
            {% endif %}
        {% endif %} -->
    </section>

<hr style="width: 50%;">
<section class="clean-block features" id="overall">
    <div class="f1 w-100 d-flex align-items-center justify-content-center p-5 flex-column">
        <p class="subtitleCompetition" style="font-size: 2vmax;margin-top:4vmax;">
            EVENT DATE : {{ date }}
            <br><br>
            LOCATION : {{ location }}
        </p>
    </div>
</section>

{% if title == "International Summit" %}
    <hr style="width: 50%;">
    <section class="clean-block freatures">
        <div class="f1 w-100 d-flex align-items-center justify-content-center p-5">
            <p class="subtitleCompetition text-uppercase">
                Schedules
            </p>
        </div>
        <div class="container">
            <div class="col d-flex flex-column justify-content-center align-items-center" id="description_container">
                <p class="lead d-xl-flex justify-content-xl-center align-items-xl-center" id="description_text">
                    To Be Announced
                </p>
            </div>
        </div>
    </section>
{% endif %}

<hr style="width: 50%;">
<section class="clean-block freatures" id="date">
    <div class="f1 w-100 d-flex align-items-center justify-content-center p-5 flex-column">
        <p class="subtitleCompetition text-uppercase" style="font-size: 4vmax;margin-bottom: 4vmax;">
            Documentation
        </p>
        <br>
        {% if title == "Paper Presentation and Focus Group Discussion" %}
        <iframe src="{% url 'carousel1' %}" frameborder="0" id="carouselIframe"></iframe>
        {% elif title == "Field Trip" %}
        <iframe src="{% url 'carousel2' %}" frameborder="0" id="carouselIframe"></iframe>
        {% elif title == "Cultural Night" %}
        <iframe src="{% url 'carousel3' %}" frameborder="0" id="carouselIframe"></iframe>
        {% elif title == "International Summit" %}
        <iframe src="{% url 'carousel4' %}" frameborder="0" id="carouselIframe"></iframe>
        {% endif %}
    </div>
</section>

<img src="{% static 'img/leaf_competition.png' %}" alt="" class="decor height-after-nav position-fixed" id="left_Ornament">
<img src="{% static 'img/leaf_competition.png' %}" alt="" class="decor height-after-nav position-fixed" id="right_Ornament"> {% endblock %}