@media only screen and (max-width: 1100px) {
    #image_side_description {
        display: none;
    }
}

@media only screen and (max-width: 770px) {
    .descriptionText {
        font-size: 20px;
    }
}

@media only screen and (max-width: 700px) {
    .descriptionText {
        font-size: 17px;
    }
}

@media only screen and (max-width: 620px) {
    .descriptionText {
        margin: 30px;
    }
    .blenderSub {
        display: none;
    }
    .blenderMain {
        transform: none;
    }
}

@media only screen and (max-width: 590px) {
    .verticalText {
        writing-mode: unset;
    }
    .blender {
        display: none;
    }
    #about_text_main {
        padding-left: 30px;
    }
    #first_segment {
        height: 100% !important;
    }
}

@media only screen and (max-width: 510px) {
    #about_text_main {
        padding-left: 0;
        margin-top: 45px;
    }
    .videoPlacement {
        margin-top: 45px;
    }
}

@media only screen and (max-width: 450px) {
    .descriptionText {
        font-size: 15px;
    }
}