.notsofirst {
    background: url(../img/competition/image2.jpg) center center no-repeat;
    background-size: cover;
}

.second {
    z-index: -1;
}

.competitionTitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    margin-top: 10vmax;
    line-height: normal;
    color: rgba(99, 110, 51, 0.84);
    opacity: 0.85;
}

iframe {
    overflow: hidden;
    min-width: 300px;
    width: 60%;
    display: block;
}

.paddingLeftRight {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 140px;
    padding-right: 140px;
}

.squareImg {
    height: 200px;
    width: 200px;
}

.rectangleImg {
    height: 200px;
    width: calc(400px + .25rem);
}

#photo_container {
    min-width: calc(400px + .25rem);
}

.wasIframe * {
    text-align: left;
}

.subtitleCompetition {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: normal;
    text-align: center;
    color: rgba(112, 125, 56, 0.84);
}

.prizebox-container {
    width: 295px;
    height: 400px;
    padding: 40px 20px 20px 20px;
}

.prizeBox {
    width: 100%;
    height: calc(100% - 50px);
    border: 2px solid rgba(147, 180, 1, 0.83);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* mungkin center lebih keren */
    align-items: center;
}

.prizebox-title-container {
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* TODO: buat pembeda title dan description */

.prizebox-title {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    color: rgba(112, 125, 56, 0.84);
}

.prizeBox>p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    color: rgba(112, 125, 56, 0.84);
}

.prizeBox>img {
    width: 70px;
    height: 70px;
    transform: translate(0, -50%);
}

.registLink {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: normal;
    text-align: center;
    color: rgba(112, 125, 56, 0.84);
}

.decor {
    top: 0;
    height: 100vh;
    width: 225px;
    z-index: -1;
}

#right_Ornament {
    transform: rotateY(180deg);
    left: auto;
    right: 0;
}

#left_Ornament {
    left: 0;
    right: auto;
}

.cd-timeline__content {
    border: 2px solid #9DAF4B;
}

@media only screen and (max-width:950px) {
    .decor {
        opacity: 0.2;
    }
    .paddingLeftRight {
        padding-left: 100px;
        padding-right: 100px;
    }
    #banner {
        width: 100%;
    }
}

@media only screen and (max-width:590px) {
    .competitionTitle {
        font-size: 36px;
    }
}

@media only screen and (max-width:520px) {
    .paddingLeftRight {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (max-width:420px) {
    .paddingLeftRight {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.carousel-wrapper {
    height: 400px;
    position: relative;
    width: 800px;
    margin: 0 auto;
}

.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev {
    left: -30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
    right: -30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.light {
    color: white;
}

@media (max-width: 480px) {
    .arrow,
    .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
    }
}

.dateloc{
    font-size : 2vmax;
}