/* footer */

.footer {
    background-color: #49AC7D;
    z-index: 20;
}

.footerTitle {
    font-style: normal;
    font-size: calc(15px + 0.5vmax) !important;
    margin-bottom: 2rem;
    line-height: normal;
    color:#fff;
}

.footerDiv {
    padding: 15px;
    min-width: 50%;
}

.footerIcon {
    width: 70px;
}

.SocMedIcon {
    height: 50px;
    margin: 10px;
}

.footer-copyright {
    background-color: rgba(52, 121, 89, 0.849) !important;
    border: none !important;
}

/* Footer End */