a.nav-link {
    font-size: 19px !important;
    letter-spacing: 0.2em !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold !important;
}

.dropdown-menu.show {
    background-color: #C0DEAA;
}