/* navbar modifier */

.navbar {
    background-color: #49AC7D;
    padding: .5rem 1rem !important;
}

#navbar-logo {
    height: 55px;
}

a.nav-link {
    font-size: 19px;
    letter-spacing: 0.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white !important;
}

a.nav-link:hover {
    color: #FEE15F !important;
}

.dropdown-menu.show {
    background-color: #C0DEAA;
    right: 0 !important;
    left: auto;
}
