/* Basic html, body tags */

html,
body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}


/* font */

* {
    text-align: center;
    transition: all .5s ease;
    max-width: 100vw;
}

.frutiger {
    font-family: 'Frutiger', sans-serif !important;
}

a:hover {
    text-decoration: none;
    color: #fec810;
}

.montserator {
    font-family: 'Montserrat', sans-serif;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

.green {
    color: #B9C195;
}

.greener {
    color: #9DAF4B;
}

.greenest {
    color: #707D38;
}

.white {
    color: white;
}

p {
    margin-bottom: 0;
}

.pageTitle {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: normal;
    text-align: center;
    mix-blend-mode: multiply;
    opacity: 0.9;
}


/* For Pages */

.masthead>.container {
    height: 100%;
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.fullPageHeight {
    height: calc(100vh);
}

.height-after-nav {
    height: calc(100vh - 51px);
}

.f1 {
    flex: 1;
}

.f2 {
    flex: 2;
}

.f3 {
    flex: 3;
}

.f4 {
    flex: 4;
}

.f5 {
    flex: 5;
}

.w-70 {
    width: 70% !important;
}

.auto-overflow {
    overflow: auto;
}


/* UI YEA Week and Day and EnviroFest*/

.largeRec {
    width: 22vmax;
    left: 10vmax;
    background: rgba(147, 180, 1, 0.3);
}

.smallRec1 {
    width: 7vmax;
    left: 3vmax;
    background: #FFDA56;
    opacity: 0.5;
}

.tree {
    filter: opacity(0.5);
    top: 44%;
    left: 60%;
}

.picture {
    top: 15vmax;
    left: 15vmax;
}

.title-Day {
    font-weight: 800;
    font-size: 32px;
    color: #9DAF4B;
}

.title {
    left: 43%;
    top: 43%;
    font-weight: 800;
    font-size: 50px;
    color: #9DAF4B;
    mix-blend-mode: multiply;
    opacity: 0.9;
}

.descImage {
    overflow: hidden;
}

.square {
    width: 20vmax;
    height: 20vmax;
}

.rectangle,
.rectangle_image {
    width: 40vmax;
    height: 20vmax;
}

.description {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.5;
    color: #9DAF4B;
}

.smallRec2 {
    width: 7vmax;
    top: 0;
    left: 12vmax;
    background: #FFDA56;
    opacity: 0.5;
}

.greenRec {
    height: 7vmax;
    background: rgba(147, 180, 1, 0.3);
    transform: translate(0, -200%);
}

.link {
    font-weight: 500;
    font-size: 24px;
    color: rgba(112, 125, 56, 0.84);
}


/* UI YEA Week END */


/* Main page, page 2 */

#decor1 {
    top: 80px;
    width: 35vmax;
    min-width: 300px;
    opacity: 0.8;
}

#decor2 {
    opacity: 0.8;
    width: 35vmax;
    min-width: 300px;
    transform: scale(-1, -1);
}

#decor2container {
    height: 0;
}

.iconTitle {
    font-size: calc(14px + 0.3vmax);
}

.title-Main {
    font-weight: 800;
    font-size: calc(20px + 2vmax);
}

.fullContainer {
    padding-top: calc(150px + 51px);
    padding-bottom: 80px;
}

.titleCollector {
    padding-top: 30px;
}

.itemCollector {
    height: 200px;
    width: 250px;
}

.lineBreaker {
    border: 2px solid #93B401;
    width: 40%;
}

@media only screen and (max-width:490px) {
    .fullContainer {
        padding-top: calc(150px + 51px + 50px);
    }
    .p-5 {
        padding: 1rem !important;
    }
}


/* page 2 main END */


/* About Page */

.videoTitle {
    padding-top: 55px;
}

.verticalText {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: calc(24px + 0.5vmax);
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
}

.blender {
    mix-blend-mode: multiply;
    transform: translate(65%, -0.5%);
    opacity: 0.3;
}

#about_text_main,
#about_text_sub {
    min-width: 200px;
}

#video_placement {
    min-width: 300px;
}

#about_text_description_string {
    min-width: 300px;
}

.videoPlacement {
    background: url('/static/img/about/monitor.png') no-repeat;
    background-size: contain;
    width: 40vmax;
    height: 35vmax;
    margin-top: 100px;
    padding: 1.2vmax 1.2vmax 10.5vmax;
}

.headerAsBG {
    height: 9vmax;
    background-repeat: repeat-x;
    background-size: cover;
}

.blenderMain {
    transform: translate(-35%, 0);
}

.blenderSub {
    mix-blend-mode: multiply;
    transform: translate(35%, -0.5%);
    opacity: 0.3;
}

.descriptionText {
    font-style: normal;
    font-weight: 500;
    font-size: calc(18px + 0.5vmax);
    margin: 50px;
}

#scene {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-256px, -215px) !important;
}


/* landing exclusive */

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #093156;
    border-color: #093156;
}

.btn-primary:hover {
    background-color: #fec810;
    border-color: #fec503
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(254, 209, 54, .5)
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #212529;
    background-color: #fed136;
    border-color: #fed136
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #212529;
    background-color: #fec503;
    border-color: #f3bd01
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(254, 209, 54, .5)
}

.btn-xl {
    font-size: 18px;
    padding: 20px 40px
}

.btn {
    font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.text-uppercase {
    text-transform: uppercase!important;
}

@media screen and (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}

a {
    color: #093156;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

header.masthead .intro-text {
    padding-top: 125px;
    padding-bottom: 125px;
}

header.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif
}

@media (min-width:768px) {
    header.masthead .intro-text {
        padding-top: 250px;
        padding-bottom: 250px;
    }
    header.masthead .intro-text .intro-heading {
        font-size: 75px;
        font-weight: 400;
        line-height: 75px;
        margin-bottom: 50px;
        font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif
    }
}


/* for base.html */

#header_container {
    color: rgba(0, 0, 0, 0);
    padding-top: 62px;
    margin-top: 20px;
    height: 100vh;
}

#header_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: calc(20px + 1vmax);
    line-height: normal;
    color: rgba(255, 255, 255, 0.9);
    opacity: 0.85;
}

#header_title_container {
    background-color: rgba(161, 206, 120, 0.43);
    padding: 20px;
}

#description_container {
    padding: 20px;
}

#description_text {
    font-size: 20px;
}

.list_item {
    font-size: 15px;
}


/* main container */

#clickHereButton {
    color: white;
    background: none;
    text-decoration: none;
    border: 7px solid white;
    font-size: 28px;
    cursor: pointer;
    padding: 10px 15px;
    transition: all 0.75s ease;
}

#clickHereButton:hover {
    background: white;
    color: rgba(147, 180, 1, 0.83);
}

#clickHereButton1 {
    color: rgba(147, 180, 1, 0.83);
    height: 64px;
    background: none;
    text-decoration: none;
    border: 3.5px solid rgba(147, 180, 1, 0.83);
    font-size: 24px;
    cursor: pointer;
    transition: all 0.75s ease;
}

#clickHereButton1:hover {
    background: white;
    color: rgba(100, 122, 2, 0.83);
}

@media only screen and (max-width: 1000px) {
    #navbar-logo {
        height: 60px;
    }
    #bannerBG {
        background-image: none !important;
        height: 50vh;
    }
}

@media only screen and (max-width: 750px) {
    .tree {
        left: 50.7%;
    }
    .title {
        left: 10%;
        top: 63%;
    }
    #registBanner {
        width: 90%;
    }
    #bannerBG {
        height: 25vh;
    }
}

@media only screen and (max-width: 680px) {
    .title {
        left: 20%;
        top: 42%;
    }
    .tree {
        top: 48%;
    }
}

@media only screen and (max-width: 600px) {
    .tree {
        left: 16.9%;
    }
    .title {
        left: 17%;
        top: 45%;
    }
}

@media only screen and (max-width: 500px) {
    .title {
        left: 10%;
    }
}

@media only screen and (max-width: 530px) {
    #navbar-logo {
        height: 55px;
    }
}