{% extends "base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/about.css' %}" />
<div class="justify-content-between align-items-center flex-column d-flex ">
    <div class="height-after-nav w-100 d-flex justify-content-around align-items-center flex-wrap" id="first_segment">
        <div class="videoTitle d-flex justify-content-center align-items-center text-center f2 h-100 w-100" id="about_text_main">
            <p class="verticalText m-0 text-center text-uppercase montserator greener blender">
                ABOUT UIYEA 2019
            </p>
            <p class="verticalText m-0 text-center text-uppercase montserator greener">
                ABOUT UIYEA 2019
            </p>
        </div>
        <div class="f4 d-flex justify-content-center align-items-center w-100" id="video_placement">
            <div class="videoPlacement">
                <iframe src="https://drive.google.com/file/d/1V0wvoXJ0Ww-UVi4HfOuI4WijF5nkKhaF/preview" frameborder="0" class="w-100 h-100"></iframe>
                <!-- <iframe src="https://www.youtube.com/embed/pNfTK39k55U" frameborder="0" class="w-100 h-100"></iframe> -->
                <!-- <img src="{% static 'img/about/comingsoon.jpg' %}" frameborder="0" class="w-100 h-100"> -->
            </div>
        </div>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center height-after-nav w-100">
        <!-- <div class="f1 d-flex justify-content-end align-items-end headerAsBG w-100">
        </div> -->
        <div class="w-100 f3 d-flex flex-wrap justify-content-around align-items-center flex-wrap">
            <div class="whiteBG f1 d-flex justify-content-center align-items-center text-center w-100" id="about_text_sub">
                <p class="verticalText m-0 text-center p-2 text-uppercaseSub montserator greener blenderSub">
                    ABOUT US
                </p>
                <p class="verticalText m-0 text-center p-2 text-uppercaseSub montserator greener blenderMain">
                    ABOUT US
                </p>
            </div>
            <div class="h-100 f1" id="image_side_description">
                <!-- <img src="{% static 'img/about/people.png' %}" alt="gambar orang" class="h-100 w-100"> -->
            </div>
            <div class="whiteBG f5 d-flex align-items-center" id="about_text_description">
                <p class="descriptionText montserator greenest" id="about_text_description_string">
                    UI YEA 2019 is an annual event that is led by Departemen Lingkungan Hidup BEM Universitas Indonesia. The aim of UI YEA is to increase the awareness of the public and encourage innovations in the environmental field that involve youths as its main focus.
                    This year is the eighth time UI YEA is being held with a theme “Empowering Youth for ASEAN Green Urban and Community.”
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}