{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content=""> 
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />

    <title>{{ title }} :: UI YEA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:800,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://www.cufonfonts.com/cdn/webfont/frutiger?token=12sqn294SoTo1We1eyZTNrSFtAZW-3de" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'css/square-button-image-flip-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/square-button-image-flip.css' %}">
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet">
    <link href="{% static 'css/UIYEA.css' %}" rel="stylesheet">
    <link href="{% static 'css/competition.css' %}" rel="stylesheet">

</head>

{% load static %}

<body>
    {% include 'navbar.html' %} {% block content %} {% endblock %} {% include 'footer.html' %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'js/smoothproducts.min.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    <script>
        function setIframeHeight(iframe) {
            if (iframe) {
                var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
                if (iframeWin.document.body) {
                    iframe.height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
                    iframe.height = parseInt(iframe.height, 10) + 20;
                }
                console.log(iframe.height);
            }
        };
        document.getElementById('carouselIframe').onload = function() {
            setIframeHeight(document.getElementById('carouselIframe'));
        }
    </script>
</body>

</html>