{% load static %}
<div class="w-100 height-after-nav d-flex justify-content-center align-items-center flex-column">
    {% if register_url == 'To Be Announced' %}
        <a href="">
    {% else %}
        <a href="{{ register_url }}">
    {% endif %}
            <img src="{% static 'img/banner.png' %}" alt="Registration Banner" class="registItem pb-5 pt-5" id="banner">
        </a>
    <img src="{% static 'img/hand.png' %}" class="registItem p-5">
</div>