{% load static %}
<div class="height-after-nav w-100" style="background-image: url({% static 'img/bg.png' %});" id="bannerBG">
    <div class="d-flex justify-content-center align-items-center w-100 h-100 flex-column">
        <img src="{% static 'img/banner.png' %}" id="registBanner" class="p-2">
        <h3 class="link montserator p-2">Link pendaftaran coming soon!</h3>
    </div>
</div>