{% load static %}
<!-- 
<div class="footer d-flex justify-content-around align-items-center w-100 flex-column ">
    <div class="socialMedia footerDiv f1">
        <p class="footerTitle font-weight-bold w-100 text-center montserator">
            SOCIAL MEDIA
        </p>
        <div class="flex-wrap d-flex align-items-center justify-content-center">
            <a href="https://www.facebook.com/ui.yea.3" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'img/footer/FB.png' %}" alt="Facebook" class="footerIcon">
            </a>
            <a href="https://twitter.com/uiyea__" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'img/footer/TWITTER.png' %}" alt="Twitter" class="footerIcon">
            </a>
            <a href="https://www.instagram.com/uiyea/" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'img/footer/INSTA.png' %}" alt="Instagram" class="footerIcon">
            </a>
        </div>
    </div>
    <div class="contact footerDiv f1">
        <p class="footerTitle font-weight-bold w-100 text-center montserator">
            ANY QUESTIONS ?
        </p>
        <div class="flex-wrap d-flex align-items-center justify-content-center">
            <div class="flex-row d-flex justify-content-center align-items-center">
                <img src="{% static 'img/footer/LINE.png' %}" alt="" class="SocMedIcon">
                <div class="h-100 w-100 d-flex justify-content-center align-items-center">
                    <p class="montserator" style="color:#fff">
                        @UIYEA
                    </p>
                </div>
            </div>
            <div class="flex-row d-flex justify-content-center align-items-center">
                <img src="{% static 'img/footer/WHATSAPP.png' %}" alt="" class="SocMedIcon">
                <div class="h-100 w-100 d-flex justify-content-center align-items-center">
                    <p class="montserator" style="color:#fff">
                        +62 813-188-0315
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex w-100 justify-content-around align-items-center flex-wrap footerDiv f1">
        <a href="/#" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'img/footer/TOKOPEDIA.png' %}" alt="" class="sponsorFlag">
        </a>
        <a href="/#" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'img/footer/SHOPEE.png' %}" alt="" class="sponsorFlag">
        </a>
    </div>
</div> -->

<!-- Footer -->
<footer class="page-footer font-small footer pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mb-md-0 mt-3 mb-3">

                <!-- Content -->
                <h5 class="footerTitle text-uppercase font-weight-bold montserator">SOCIAL MEDIA</h5>

                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <a href="https://www.facebook.com/ui.yea.3" target="_blank" rel="noopener noreferrer">
                            <img src="{% static 'img/footer/FB.png' %}" alt="Facebook" class="footerIcon">
                        </a>
                    </div>
                    <div class="col">
                        <a href="https://twitter.com/uiyea__" target="_blank" rel="noopener noreferrer">
                            <img src="{% static 'img/footer/TWITTER.png' %}" alt="Twitter" class="footerIcon">
                        </a>
                    </div>
                    <div class="col">
                        <a href="https://www.instagram.com/uiyea/" target="_blank" rel="noopener noreferrer">
                            <img src="{% static 'img/footer/INSTA.png' %}" alt="Instagram" class="footerIcon">
                        </a>
                    </div>
                    <div class="col"></div>
                </div>

            </div>

            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mt-md-0 mb-3 mt-3">

                <!-- Content -->
                <h5 class="footerTitle text-uppercase font-weight-bold montserator">ANY QUESTIONS ?</h5>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <img src="{% static 'img/footer/LINE.png' %}" alt="" class="SocMedIcon">
                        <p class="montserator white">@UIYEA</p>
                    </div>
                    <div class="col">
                        <img src="{% static 'img/footer/WHATSAPP.png' %}" alt="" class="SocMedIcon">
                        <p class="montserator white">+62 813-188-0315</p>
                    </div>
                    <div class="col"></div>
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 white">© 2019 Copyright:
        <a href="https://gitlab.com/lihat-sisi-baiknya-aja/" class="white"> Lihat Sisi Baiknya Aja</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->