{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />

    <title>UI YEA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <!-- Font Awesome Icons -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic'
        rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:800,500' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://www.cufonfonts.com/cdn/webfont/frutiger?token=12sqn294SoTo1We1eyZTNrSFtAZW-3de"
        rel="stylesheet">

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="{% static 'css/creative.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/UIYEA.css' %}" rel="stylesheet">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet">
    <link href="{% static 'css/navbar_landing.css' %}" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <a class="navbar-brand" href="#page-top">
            <img src="{% static 'img/uiyea-logo-white.png' %}" alt="UIYEA LOGO" srcset="" id="navbar-logo"
                height="65px">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="">
                        HOME
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">
                        ABOUT
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        COMPETITION
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item open-sans" href="{% url 'paperCompetition' %}">International Paper
                            Competition</a>
                        <a class="dropdown-item open-sans" href="{% url 'enviroaction' %}">Enviroaction</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        PRE-EVENT
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item open-sans" href="{% url 'roadshow' %}">Campus Roadshow</a>
                        <a class="dropdown-item open-sans" href="{% url 'envirofest' %}">Green Festival</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        EVENTS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item open-sans" href="{% url 'PPandFG' %}">Paper Presentation & FG
                            Discussion</a>
                        <a class="dropdown-item open-sans" href="{% url 'fieldTrip' %}">Field Trip</a>
                        <a class="dropdown-item open-sans" href="{% url 'culturalNight' %}">Cultural Night</a>
                        <a class="dropdown-item open-sans" href="{% url 'internationalSummit' %}">International
                            Summit</a>
                    </div>
                </li>
            </ul>

        </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead">
        <div class="container">
            <div class="centering">
                <!-- <div class="intro-heading text-uppercase white"> -->
                <!-- <span>Click To Know More</span> -->
                <!-- </div> -->
                <button class="frutiger white" id="clickHereButton" onclick="window.location.href='#Content'">
                    MORE INFORMATION
                </button>
            </div>
        </div>
    </header>

    {% block content %} {% endblock %}


    <!-- Footer -->
    {% include 'footer.html' %}
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %} "></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %} "></script>
    <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %} "></script>


    <!-- Custom scripts for this template -->
    <script src="{% static 'js/creative.min.js' %} "></script>
</body>



</html>