{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="/">
        <img src="{% static 'img/uiyea-logo-white.png' %}" alt="UIYEA LOGO" srcset="" id="navbar-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">ABOUT</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    COMPETITION
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'paperCompetition' %}">International Paper Competition</a>
                    <a class="dropdown-item" href="{% url 'enviroaction' %}">Enviroaction</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    PRE-EVENT
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <!-- <a class="dropdown-item" href="ui_yea_day">UI YEA Day</a> -->
                    <a class="dropdown-item" href="{% url 'roadshow' %}">Campus Roadshow</a>
                    <a class="dropdown-item" href="{% url 'envirofest' %}">Green Festival</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    EVENTS
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'PPandFG' %}">Paper Presentation & FG Discussion</a>
                    <a class="dropdown-item" href="{% url 'fieldTrip' %}">Field Trip</a>
                    <a class="dropdown-item" href="{% url 'culturalNight' %}">Cultural Night</a>
                    <a class="dropdown-item" href="{% url 'internationalSummit' %}">International Summit</a>
                </div>
            </li>
        </ul>
    </div>
</nav>