<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
    <div class="bd-example" style="max-width: 60vw">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators" style="padding-bottom: 20px;">
                <li data-target="#carouselExampleFade" data-slide-to="0 " class="active "></li>
                <li data-target="#carouselExampleFade" data-slide-to="1 "></li>
                <li data-target="#carouselExampleFade" data-slide-to="2 "></li>
                <li data-target="#carouselExampleFade" data-slide-to="3 "></li>
                <li data-target="#carouselExampleFade" data-slide-to="4 "></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ image1 }}" alt="Los Angeles" style="width:100%;">
                </div>
                <div class="carousel-item">
                    <img src="{{ image2 }}" alt="Chicago" style="width:100%;">
                </div>
                <div class="carousel-item">
                    <img src="{{ image3 }}" alt="New York" style="width:100%;">
                </div>
                <div class="carousel-item">
                    <img src="{{ image4 }}" alt="New York" style="width:100%;">
                </div>
                <div class="carousel-item">
                    <img src="{{ image5 }}" alt="New York" style="width:100%;">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev" style="padding-left: 30px">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next" style="padding-right: 30px">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <script>
        $('.carousel').carousel()
    </script>
</body>

</html>