{% extends "base.html" %} {% load static %} {% block content %}

<main class="page pt-5">
    <div class="height-after-nav w-100 first d-flex justify-content-center align-items-center pb-5">
        <p class="competitionTitle text-uppercase text-center">
            <img src="{{ image0 }}" style="margin-bottom:5vmax;justify-content: center;" />
            <br> {{ header_title|linebreaksbr }}
        </p>
    </div>
    </div>
    <section class="clean-block features" id="overall">
        <div class="container">
            <div class="col d-flex flex-column justify-content-center align-items-center" id="description_container">
                <p class="lead d-xl-flex justify-content-xl-center align-items-xl-center" id="description_text">
                    {{ description }}</p>
            </div>
        </div>
    </section>
    {% if title == 'Paper Competition' %}
    <section class="clean-block freatures" id="date">
        <div class="f1 w-100 d-flex align-items-center justify-content-center p-5 flex-column">
            <p class="subtitleCompetition text-uppercase">
                Guidebook
            </p>
            <hr style="width: 50%;"> {% if guidebook_url == 'To Be Announced' %}
            <h3 class="link montserator p-2">{{ guidebook_url }}</h3>
            {% else %}
            <button class="montseratorwhite" id="clickHereButton1" onclick="window.location.href=' {{ guidebook_url }} '">
                CLICK HERE
            </button> {% endif %}
        </div>
    </section>
    {% else %}
    <section class="clean-block freatures" id="date">
        <div class="f1 w-100 d-flex align-items-center justify-content-center p-5 flex-column">
            <p class="subtitleCompetition text-uppercase">
                Competition Format
            </p>
            <hr style="width: 50%;">
            <p class="lead d-xl-flex justify-content-xl-center align-items-xl-center" id="description_text">
                Participants must post their video on both Instagram and Email
            </p>
            <h3 class="link montserator p-2">Email:</h3>
            <p class="lead d-xl-flex justify-content-xl-center align-items-xl-center" id="description_text">
            <ol>
                1. The video should be made in full English<br>
                2. The video duration is around 3-7 minutes long not less or more<br>
                3. Participants create a video with less than 3 minutes of runtime or more than 7 minutes of runtime,<br>the video will not be included in the competition<br>
                4. Participants are required to submit the original high definition video to<br>uiyea.competition@gmail.com.<br>
                5. The video submission can be in a google drive link or the video.<br>
                6. Subject format: EnviroAct_Video Name and the maximum of file that the participants<br>should send is 25 MB<br>
                7. The body email must contain personal information which includes the participants full<br>name, phone number, and Instagram account<br>
            </ol>
            </p>
            <h3 class="link montserator p-2">Instagram:</h3>
            <p class="lead d-xl-flex justify-content-xl-center align-items-xl-center" id="description_text">
            <ol>
                1. The video should be made in full English<br>
                2. The video must be posted on an Instagram post and not Instagram Story<br>
                3. "The video should contain "GreenFutureisOurs" and "UIYEAxYouthofIndonesia"<br>Hashtag in the caption of the post, and the post should tag UI YEA (@uiyea) <br>and Youth of Indonesia (@youthofid) Instagram Account<br>
                4. Participants are allowed to be as creative as they want when <br>making the captions<br>
                5. The video duration is around 3-7 minutes long not less or more<br>
                6. Participants create a video with less than 3 minutes of runtime or more than 7 minutes<br>of runtime the video will not be included in the competition<br>
                7. Likes and views of posted videos must came from real account<br>
                8. Winners will be announced on UI YEA’s Instagram Account<br>
            </ol>
            </p>
        </div>
    </section>
    {% endif %}
    <!-- {% include 'daftar2.html' %} -->
    <section class="clean-block freatures" id="date">
        <div class="f1 w-100 d-flex align-items-center justify-content-center p-5 flex-column">
            <p class="subtitleCompetition text-uppercase" style="margin-bottom:2vmax;">
                Submission Date<br>
                <i> {{ date }} </i>
            </p>
            <br>
            <p class="prizebox-title">Submit your creative work in this time period !</p>
        </div>
    </section>
    <hr style="width: 50%;">
    <section class="clean-block freatures" id="overall">
        <div class="f1 w-100 d-flex align-items-center justify-content-center p-5">
            <p class="subtitleCompetition text-uppercase">
                Prizes
            </p>
        </div>

        <div class="paddingLeftRight f3 w-100 h-100 d-flex align-items-center justify-content-around flex-wrap">
            <div class="prizebox-container">
                <div class="prizebox-title-container">
                    <p class="prizebox-title">
                        {{ prize1|linebreaksbr }}
                    </p>
                </div>
                <div class="prizeBox">
                {% if prize1 == '1st Place​ :' %}
                    <p>
                        RP.1.000.000,00
                    </p>
                    <p>
                        Certificate
                    </p>
                {% else %}
                    <p>
                        RP.5.000.000,00
                    </p>
                    <p>
                        Trophy
                    </p>
                    <p>
                        Certificate
                    </p>
                {% endif %}
                </div>
            </div>
            <div class="prizebox-container">
                <div class="prizebox-title-container">
                    <p class="prizebox-title">
                        {{ prize2|linebreaksbr }}
                    </p>
                </div>
                <div class="prizeBox">
                {% if prize2 == '2nd Place :' %}
                    <p>
                        RP.750.000,00
                    </p>
                    <p>
                        Certificate
                    </p>
                {% else %}
                    <p>
                        RP.1.500.000,00
                    </p>
                    <p>
                        Certificate
                    </p>
                {% endif %}
                </div>
            </div>
            <div class="prizebox-container">
                <div class="prizebox-title-container">
                    <p class="prizebox-title">
                        {{ prize3|linebreaksbr }}
                    </p>
                </div>
                <div class="prizeBox">
                {% if prize3 == '3rd Place :' %}
                    <p>
                        RP.500.000,00
                    </p>
                    <p>
                        Certificate
                    </p>
                {% else %}
                    <p>
                        RP.1.500.000,00
                    </p>
                    <p>
                        Certificate
                    </p>
                {% endif %}
                </div>
            </div>
        </div>
    </section>
</main>

<hr style="width: 50%;"> {% if carousel == '1' %}
<section class="clean-block freatures" id="date">
    <div class="f1 w-100 d-flex align-items-center justify-content-center p-5 flex-column">
        <p class="subtitleCompetition text-uppercase" style="font-size: 4vmax;">
            Documentation
        </p>
        <br>
        <iframe src="{% url 'carousel' %}" frameborder="0" id="carouselIframe"></iframe>
    </div>
</section>

<hr style="width: 50%;">{% endif %}
<section class="clean-block freatures" id="date">
    <div class="f1 w-100 d-flex align-items-center justify-content-center p-5 flex-column">
        <p class="subtitleCompetition text-uppercase" style="margin-bottom:2vmax;">
            Contact Person
        </p>
        {% if cp_number == '' %}
        <p class="prizebox-title">To be announced!</p>
        {% else %} {% for x in cp_number %}
        <br>
        <p class="prizebox-title">{{ x }}</p> {% endfor %} {% endif %}
    </div>
</section>
<img src="{% static 'img/leaf_competition.png' %}" alt="" class="decor height-after-nav position-fixed" id="left_Ornament">
<img src="{% static 'img/leaf_competition.png' %}" alt="" class="decor height-after-nav position-fixed" id="right_Ornament"> {% endblock %}