{% extends "landing.html" %} {% load static %} {% block content %}
<!-- Content Section -->
<section class="page-section" id="Content">
    <div class="container">
        <h2 class="text-center montserator mt-0 text-uppercase" style="color:#093156">Competition</h2>
        <hr class="divider my-4">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-3 col-md-6 text-center">
                <a href="{% url 'paperCompetition' %}">
                    <div class="mt-5">
                        <img src="{% static 'img/Landing/Paper_Com.png' %}" alt="" class="mb-4" width="90px" height="90px">
                        <h3 class="h4 mb-2 montserator text-uppercase">International Paper<br>Competition</h3>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <a href="{% url 'enviroaction' %}">
                    <div class="mt-5">
                        <img src="{% static 'img/Landing/EnviroAct.png' %}" alt="" class="mb-4" width="90px" height="90px">
                        <h3 class="h4 mb-2 montserator text-uppercase">EnviroAction</h3>
                    </div>
                </a>
            </div>
            <div class="col-lg-3"> </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <h2 class="text-center montserator mt-0 text-uppercase" style="color:#093156">Pre - events</h2>
        <hr class="divider my-4">
        <div class="row">
            <div class="col-lg-3"> </div>
            <div class="col-lg-3 col-md-6 text-center">
                <a href="{% url 'roadshow' %}">
                    <div class="mt-5">
                        <img src="{% static 'img/Landing/Roadshow.png' %}" alt="" class="mb-4" width="90px" height="90px">
                        <h3 class="h4 mb-2 montserator text-uppercase">Campus Roadshow</h3>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <a href="{% url 'envirofest' %}">
                    <div class="mt-5">
                        <img src="{% static 'img/Landing/EnviroFest.png' %}" alt="" class="mb-4" width="90px" height="90px">
                        <h3 class="h4 mb-2 montserator text-uppercase">Green Festival</h3>
                    </div>
                </a>
            </div>
            <div class="col-lg-3"> </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <h2 class="text-center montserator mt-0 text-uppercase" style="color:#093156">Events</h2>
        <hr class="divider my-4">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <a href="{% url 'PPandFG' %}">
                    <div class="mt-5">
                        <img src="{% static 'img/Landing/PP&FG.png' %}" alt="" class="mb-4" width="90px" height="90px">
                        <h3 class="h4 mb-2 montserator text-uppercase" >Paper Presentation <br>&<br> Focus Group Discussion</h3>
                    </div>
                </a>

            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <a href="{% url 'fieldTrip' %}">
                    <div class="mt-5">
                        <img src="{% static 'img/Landing/Field_Trip.png' %}" alt="" class="mb-4" width="90px" height="90px">
                        <h3 class="h4 mb-2 montserator text-uppercase">Field<br>Trip</h3>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <a href="{% url 'culturalNight' %}">
                    <div class="mt-5">
                        <img src="{% static 'img/Landing/Cultural_night.png' %}" alt="" class="mb-4" width="90px" height="90px">
                        <h3 class="h4 mb-2 montserator text-uppercase">Cultural<br>Night</h3>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <a href="{% url 'internationalSummit' %}">
                    <div class="mt-5">
                        <img src="{% static 'img/Landing/International_Summit.png' %}" alt="" class="mb-4" width="90px" height="90px">
                        <h3 class="h4 mb-2 montserator text-uppercase">International<br>Summit</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}